<div class="signin">
  <form class="form-signin my-auto">
    <div class="text-center social-login mb-4">
      <a class="btn btn-facebook mb-2" href="#">
        <span class="fa fa-facebook mr-2"></span> Log in with facebook
      </a>
      <a class="btn btn-google mb-3 mb-md-4" href="#">
        <span class="fa fa-google-plus mr-2"></span> Log in with Google
      </a>
      <p class="over">OR</p>
    </div>

    <div class="form-label-group">
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputEmail">Email address</label>
    </div>

    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="inputPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
  </form>
</div>
