<div class="signin">
  <form class="form-signin my-auto">
    <div class="text-center social-login mb-4">
      <a class="btn btn-facebook mb-2" href="#">
        <span class="fa fa-facebook mr-2"></span> Sign Up with facebook
      </a>
      <a class="btn btn-google mb-3 mb-md-4" href="#">
        <span class="fa fa-google-plus mr-2"></span> Sign Up with Google
      </a>
      <p class="over">OR</p>
    </div>

    <div class="form-label-group">
      <input type="text" id="inputName" class="form-control" placeholder="Name" required autofocus>
      <label for="inputName">Name</label>
    </div>

    <div class="form-label-group">
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
      <label for="inputEmail">Email address</label>
    </div>

    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="inputPassword">Password</label>
    </div>

    <div class="form-label-group">
      <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>
      <label for="confirmPassword">Confirmation</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
  </form>
</div>
