<div class="container">
  <footer class="pt-4 my-md-3 pt-md-4 border-top">
  	<div class="row">
  		<div class="col-12 col-md">
        <%= image_tag "logo-footer.png", size:"24", class: "mb-1 mt-1 align-middle" %>
  			<small class="mb-3 text-muted ml-md-3 align-middle">&copy; Airbnb, Inc.</small>
  		</div>
  		<div class="mr-md-3">
  			<a href="https://www.facebook.com/bootsnip" id="social-fb" class="fa fa-facebook-square fa-2x social"></a>
        <a href="https://twitter.com/bootsnipp" id="social-tw" class="fa fa-twitter-square fa-2x social"></a>
        <a href="https://plus.google.com/+Bootsnipp-page" id="social-gp" class="fa fa-google-plus-square fa-2x social"></a>
        <a href="https://instagram.com/+Bootsnipp-page" id="social-ig" class="fa fa-instagram fa-2x social"></a>
  		</div>
  	</div>
  </footer>
</div>