// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// mixins, variables, etc.

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

//miscellaneours

.debug_dump {
  clear: both;
  float: left;
  margin-top: 45px;
  @include box_sizing;
}


html,
body {
  height: 100%;
} 


// main {
//   width: 100%;
//   min-height: 100vh;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
// }

// shared/header

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); } 

nav a:hover {
	text-decoration: none;
	font-size      : 1.1rem;
	transition     : all ease 0.2s;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform     : rotate(0deg);
    transform        : rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform     : rotate(360deg);
    transform        : rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform    : rotate(0deg);
    -moz-transform   : rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform     : rotate(0deg);
    transform        : rotate(0deg);
  }
  to {
    -ms-transform    : rotate(360deg);
    -moz-transform   : rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform     : rotate(360deg);
    transform        : rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation   : rotating 2s linear infinite;
  -ms-animation    : rotating 2s linear infinite;
  -o-animation     : rotating 2s linear infinite;
  animation        : rotating 2s linear infinite;
}

.logo-image:hover{
  -webkit-animation: spin 2s linear infinite;
  animation        : spin 2s linear infinite;
}

@-webkit-keyframes spin{
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

@keyframes spin{
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform : rotateY(0deg);
    transform     : rotateY(0deg);
  }

  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform : rotateY(-360deg);
    transform     : rotateY(-360deg);
  }
}

footer {
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0px;
}

/* Add a hover effect if you want */


.fa:hover {
  opacity: 0.7;
  text-decoration: none;
}

.social {
  padding-left: 0.33rem;
}
/* Set a specific color for each brand */

.fa-facebook-square {
  color: #3B5998;
}

.fa-twitter-square {
  color: #55ACEE;
}

.fa-google-plus-square {
  color: #dd4b39;
}

.fa-instagram {
  color: #125688;
}

footer #social-fb:hover {
  color: #3B5998;
}
footer #social-tw:hover {
  color: #55ACEE;
}
footer #social-gp:hover {
  color: #dd4b39;
}
footer #social-ig:hover {
  color: #125688;
}

// login form
// 

.signin {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}


:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

// social-login
.social-login {
  padding: 20px 0px;
  position:relative;
}

.social-login a {
  width: 100%;
  color: white;
}

.social-login .btn-facebook {
  background-color: #3B5998;
}

.social-login .btn-google {
  background-color: #dd4b39;
}



.over {
  position: absolute;
  left:43%;
  bottom:-20px;
  background-color: #fff;
  color: #767676;
  padding:0px 15px 0px 15px;
}

.over::before {
  content: '' !important;
  position: absolute !important;
  border-bottom: 1px solid #e4e4e4 !important;
  top: 50% !important;
  right: 100% !important;
  width: 165px !important;
}

.over::after{
  content: '' !important;
  position: absolute !important;
  border-bottom: 1px solid #e4e4e4 !important;
  top: 50% !important;
  left: 100% !important;
  width: 165px !important;
}